/* Reset de estilos y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url("../IMG/bg.png");
    background-repeat: repeat;
    background-position: 10% 10%;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #ffb6c1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff69b4;
}

/* Formulario */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

.form-group input[type="file"] {
    padding: 6px;
}




.entries {
    margin-top: 30px;
}

.entry {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.entry:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.entry h2 {
    color: #ff69b4;
    margin-bottom: 10px;
}

.entry p.special {
    font-weight: bold;
    color: #ff69b4;
    background-color: #ffe6f0;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.entry img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Estilo para notificaciones */
.notifications {
    margin: 20px 0;
    padding: 10px;
    background-color: #ffebef;
    border: 1px solid #ffb6c1;
    border-radius: 5px;
}

.notification {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffebef;
    border-left: 5px solid #ffb6c1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.notification:hover {
    transform: translateX(5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.notification p {
    margin: 0;
    font-weight: bold;
    color: #ff69b4;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 0.5s ease;
}
